.App {
  text-align: center;
  background-color: #f5f5f5;
}

.app-image{
  margin: 20px;
}

.app-title{
  color: #45433D;
}

.app-title strong.user{
  color: #0078FF;
}

.app-title strong.emoji{
  color: #FB8C00;
}

.app-form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px;
}

.app-formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app-input{
  flex: 1;
}

.app-iconButton{
  flex: 0;
}